body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1440px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1403px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6846 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1403px;
}
#u6847 {
  position:absolute;
  left:2px;
  top:694px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:1311px;
  background:inherit;
  background-color:rgba(164, 179, 193, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6848 {
  position:absolute;
  left:0px;
  top:92px;
  width:220px;
  height:1311px;
}
#u6849 {
  position:absolute;
  left:2px;
  top:648px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6850 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
}
#u6851 {
  position:absolute;
  left:2px;
  top:22px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u6852 {
  position:absolute;
  left:24px;
  top:18px;
  width:193px;
  height:25px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u6853 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u6854 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1198px;
  height:574px;
}
#u6855 {
  position:absolute;
  left:230px;
  top:120px;
  width:1198px;
  height:574px;
}
#u6856 {
  position:absolute;
  left:2px;
  top:279px;
  width:1194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1197px;
  height:711px;
}
#u6857 {
  position:absolute;
  left:231px;
  top:663px;
  width:1197px;
  height:711px;
}
#u6858 {
  position:absolute;
  left:2px;
  top:348px;
  width:1193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0000FF;
}
#u6859 {
  position:absolute;
  left:247px;
  top:85px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0000FF;
}
#u6860 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6861 {
  position:absolute;
  left:321px;
  top:87px;
  width:10px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6862 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u6863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6863 {
  position:absolute;
  left:338px;
  top:85px;
  width:97px;
  height:16px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6864 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u6865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6865 {
  position:absolute;
  left:374px;
  top:1313px;
  width:255px;
  height:50px;
}
#u6866 {
  position:absolute;
  left:2px;
  top:17px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6867 {
  position:fixed;
  left:220px;
  bottom:0px;
}
#u6867_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u6867_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:60px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6868 {
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:60px;
}
#u6869 {
  position:absolute;
  left:2px;
  top:22px;
  width:1216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6870 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u6871 {
  position:absolute;
  left:615px;
  top:8px;
  width:100px;
  height:45px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6871_img.mouseDown {
}
#u6871.mouseDown {
}
#u6872 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u6873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(126, 142, 157, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#7E8E9D;
}
#u6873 {
  position:absolute;
  left:505px;
  top:8px;
  width:100px;
  height:45px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#7E8E9D;
}
#u6873_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:inherit;
  background-color:rgba(126, 142, 157, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(126, 142, 157, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#7E8E9D;
}
#u6873.mouseDown {
}
#u6874 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u6875 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6876 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:80px;
}
#u6877 {
  position:absolute;
  left:0px;
  top:59px;
  width:220px;
  height:80px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6877_img.selected {
}
#u6877.selected {
}
#u6878 {
  position:absolute;
  left:2px;
  top:32px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u6879 {
  position:absolute;
  left:61px;
  top:90px;
  width:73px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u6880 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u6881 {
  position:absolute;
  left:15px;
  top:81px;
  width:36px;
  height:36px;
}
#u6882 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6883 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6884 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:80px;
}
#u6885 {
  position:absolute;
  left:0px;
  top:197px;
  width:220px;
  height:80px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6885_img.selected {
}
#u6885.selected {
}
#u6886 {
  position:absolute;
  left:2px;
  top:32px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u6887 {
  position:absolute;
  left:61px;
  top:228px;
  width:55px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u6888 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u6889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u6889 {
  position:absolute;
  left:15px;
  top:219px;
  width:36px;
  height:36px;
}
#u6890 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6891 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6892 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
}
#u6893 {
  position:absolute;
  left:0px;
  top:276px;
  width:220px;
  height:60px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6893_img.selected {
}
#u6893.selected {
}
#u6894 {
  position:absolute;
  left:2px;
  top:22px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6895 {
  position:absolute;
  left:61px;
  top:299px;
  width:81px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6896 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6897 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6898 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
  background:inherit;
  background-color:rgba(139, 156, 172, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(139, 156, 172, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6899 {
  position:absolute;
  left:0px;
  top:138px;
  width:220px;
  height:60px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6899_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(139, 156, 172, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6899.selected {
}
#u6900 {
  position:absolute;
  left:2px;
  top:22px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(139, 156, 172, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6901 {
  position:absolute;
  left:61px;
  top:160px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6902 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6903 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6904 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:80px;
}
#u6905 {
  position:absolute;
  left:0px;
  top:335px;
  width:220px;
  height:80px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6905_img.selected {
}
#u6905.selected {
}
#u6906 {
  position:absolute;
  left:2px;
  top:32px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u6907 {
  position:absolute;
  left:61px;
  top:366px;
  width:55px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u6908 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u6909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u6909 {
  position:absolute;
  left:15px;
  top:357px;
  width:36px;
  height:36px;
}
#u6910 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6911 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6912 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
}
#u6913 {
  position:absolute;
  left:0px;
  top:414px;
  width:220px;
  height:60px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6913_img.selected {
}
#u6913.selected {
}
#u6914 {
  position:absolute;
  left:2px;
  top:22px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6915 {
  position:absolute;
  left:61px;
  top:437px;
  width:81px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6916 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6917 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6918 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:80px;
}
#u6919 {
  position:absolute;
  left:0px;
  top:473px;
  width:220px;
  height:80px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6919_img.selected {
}
#u6919.selected {
}
#u6920 {
  position:absolute;
  left:2px;
  top:32px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u6921 {
  position:absolute;
  left:61px;
  top:504px;
  width:73px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u6922 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u6923 {
  position:absolute;
  left:15px;
  top:495px;
  width:36px;
  height:36px;
}
#u6924 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6925 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6926 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
}
#u6927 {
  position:absolute;
  left:0px;
  top:552px;
  width:220px;
  height:60px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6927_img.selected {
}
#u6927.selected {
}
#u6928 {
  position:absolute;
  left:2px;
  top:22px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6929 {
  position:absolute;
  left:61px;
  top:575px;
  width:97px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6930 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u6931 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6932 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:80px;
}
#u6933 {
  position:absolute;
  left:0px;
  top:611px;
  width:220px;
  height:80px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6933_img.selected {
}
#u6933.selected {
}
#u6934 {
  position:absolute;
  left:2px;
  top:32px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u6935 {
  position:absolute;
  left:61px;
  top:642px;
  width:73px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u6936 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u6937 {
  position:absolute;
  left:15px;
  top:633px;
  width:36px;
  height:36px;
}
#u6938 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6939 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6940 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
  background:inherit;
  background-color:rgba(164, 179, 193, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6941 {
  position:absolute;
  left:0px;
  top:690px;
  width:220px;
  height:60px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6941_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6941.selected {
}
#u6942 {
  position:absolute;
  left:2px;
  top:22px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(164, 179, 193, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6943 {
  position:absolute;
  left:61px;
  top:713px;
  width:97px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6944 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
