body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1349px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3356 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3357_div {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:900px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3357 {
  position:absolute;
  left:499px;
  top:59px;
  width:251px;
  height:900px;
}
#u3358 {
  position:absolute;
  left:2px;
  top:442px;
  width:247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:900px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3359 {
  position:absolute;
  left:249px;
  top:59px;
  width:251px;
  height:900px;
}
#u3360 {
  position:absolute;
  left:2px;
  top:442px;
  width:247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3361_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:900px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3361 {
  position:absolute;
  left:0px;
  top:59px;
  width:250px;
  height:900px;
}
#u3362 {
  position:absolute;
  left:2px;
  top:442px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3363_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:60px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u3363 {
  position:absolute;
  left:0px;
  top:59px;
  width:250px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u3364 {
  position:absolute;
  left:2px;
  top:24px;
  width:246px;
  word-wrap:break-word;
}
#u3365_div {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:60px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u3365 {
  position:absolute;
  left:249px;
  top:59px;
  width:251px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u3366 {
  position:absolute;
  left:2px;
  top:24px;
  width:247px;
  word-wrap:break-word;
}
#u3367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:60px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u3367 {
  position:absolute;
  left:499px;
  top:59px;
  width:251px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u3368 {
  position:absolute;
  left:2px;
  top:24px;
  width:247px;
  word-wrap:break-word;
}
#u3369_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:60px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u3369 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:60px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u3370 {
  position:absolute;
  left:2px;
  top:22px;
  width:996px;
  word-wrap:break-word;
}
#u3371_div {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:900px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3371 {
  position:absolute;
  left:749px;
  top:59px;
  width:251px;
  height:900px;
}
#u3372 {
  position:absolute;
  left:2px;
  top:442px;
  width:247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:60px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u3373 {
  position:absolute;
  left:749px;
  top:59px;
  width:251px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u3374 {
  position:absolute;
  left:2px;
  top:24px;
  width:247px;
  word-wrap:break-word;
}
#u3375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u3375 {
  position:absolute;
  left:75px;
  top:222px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u3376 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u3377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u3377 {
  position:absolute;
  left:325px;
  top:178px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u3378 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u3379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u3379 {
  position:absolute;
  left:575px;
  top:366px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u3380 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u3381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u3381 {
  position:absolute;
  left:825px;
  top:366px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u3382 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u3383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u3383 {
  position:absolute;
  left:325px;
  top:366px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u3384 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u3385 {
  position:absolute;
  left:1049px;
  top:73px;
  width:305px;
  height:110px;
}
#u3386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u3386 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u3387 {
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u3388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u3388 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:45px;
}
#u3389 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u3390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u3390 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:45px;
}
#u3391 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u3392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3392 {
  position:absolute;
  left:0px;
  top:45px;
  width:100px;
  height:30px;
}
#u3393 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3394 {
  position:absolute;
  left:100px;
  top:45px;
  width:100px;
  height:30px;
}
#u3395 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3396 {
  position:absolute;
  left:200px;
  top:45px;
  width:100px;
  height:30px;
}
#u3397 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3398 {
  position:absolute;
  left:0px;
  top:75px;
  width:100px;
  height:30px;
}
#u3399 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3400 {
  position:absolute;
  left:100px;
  top:75px;
  width:100px;
  height:30px;
}
#u3401 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3402 {
  position:absolute;
  left:200px;
  top:75px;
  width:100px;
  height:30px;
}
#u3403 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3404 {
  position:absolute;
  left:1060px;
  top:41px;
  width:109px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3405 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u3406 {
  position:absolute;
  left:175px;
  top:252px;
  width:0px;
  height:0px;
}
#u3406_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:139px;
  height:8px;
}
#u3406_seg1 {
  position:absolute;
  left:131px;
  top:-48px;
  width:8px;
  height:52px;
}
#u3406_seg2 {
  position:absolute;
  left:131px;
  top:-48px;
  width:19px;
  height:8px;
}
#u3406_seg3 {
  position:absolute;
  left:135px;
  top:-54px;
  width:20px;
  height:20px;
}
#u3407 {
  position:absolute;
  left:47px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3408 {
  position:absolute;
  left:375px;
  top:238px;
  width:0px;
  height:0px;
}
#u3408_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:132px;
}
#u3408_seg1 {
  position:absolute;
  left:-10px;
  top:113px;
  width:20px;
  height:20px;
}
#u3409 {
  position:absolute;
  left:-50px;
  top:56px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3410 {
  position:absolute;
  left:425px;
  top:396px;
  width:0px;
  height:0px;
}
#u3410_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:154px;
  height:8px;
}
#u3410_seg1 {
  position:absolute;
  left:135px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3411 {
  position:absolute;
  left:25px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3412 {
  position:absolute;
  left:675px;
  top:396px;
  width:0px;
  height:0px;
}
#u3412_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:154px;
  height:8px;
}
#u3412_seg1 {
  position:absolute;
  left:135px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3413 {
  position:absolute;
  left:25px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3414 {
  position:absolute;
  left:875px;
  top:426px;
  width:0px;
  height:0px;
}
#u3414_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:36px;
}
#u3414_seg1 {
  position:absolute;
  left:-504px;
  top:28px;
  width:508px;
  height:8px;
}
#u3414_seg2 {
  position:absolute;
  left:-504px;
  top:0px;
  width:8px;
  height:36px;
}
#u3414_seg3 {
  position:absolute;
  left:-510px;
  top:-5px;
  width:20px;
  height:20px;
}
#u3415 {
  position:absolute;
  left:-300px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u3416 {
  position:absolute;
  left:605px;
  top:441px;
  width:43px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u3417 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u3418 {
  position:absolute;
  left:825px;
  top:517px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u3419 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u3420 {
  position:absolute;
  left:875px;
  top:426px;
  width:0px;
  height:0px;
}
#u3420_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:95px;
}
#u3420_seg1 {
  position:absolute;
  left:-10px;
  top:76px;
  width:20px;
  height:20px;
}
#u3421 {
  position:absolute;
  left:-50px;
  top:38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3422 {
  position:absolute;
  left:825px;
  top:547px;
  width:0px;
  height:0px;
}
#u3422_seg0 {
  position:absolute;
  left:-454px;
  top:-4px;
  width:454px;
  height:8px;
}
#u3422_seg1 {
  position:absolute;
  left:-454px;
  top:-121px;
  width:8px;
  height:125px;
}
#u3422_seg2 {
  position:absolute;
  left:-460px;
  top:-126px;
  width:20px;
  height:20px;
}
#u3423 {
  position:absolute;
  left:-336px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u3424 {
  position:absolute;
  left:597px;
  top:526px;
  width:71px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u3425 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3426 {
  position:absolute;
  left:1060px;
  top:241px;
  width:195px;
  height:32px;
}
#u3427 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  white-space:nowrap;
}
#u3428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u3428 {
  position:absolute;
  left:75px;
  top:138px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u3429 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u3430 {
  position:absolute;
  left:175px;
  top:168px;
  width:0px;
  height:0px;
}
#u3430_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:139px;
  height:8px;
}
#u3430_seg1 {
  position:absolute;
  left:131px;
  top:-4px;
  width:8px;
  height:48px;
}
#u3430_seg2 {
  position:absolute;
  left:131px;
  top:36px;
  width:19px;
  height:8px;
}
#u3430_seg3 {
  position:absolute;
  left:135px;
  top:30px;
  width:20px;
  height:20px;
}
#u3431 {
  position:absolute;
  left:45px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
